/* Typography */


/*MAIN*/

*{font-family: 'Raleway', sans-serif;}

body { 
	font-size: 1.2em;
	line-height: 1.5em;
    background-image: url("concrete.png");
	color: #555;
}

a {
	color: #ff3939;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #ff6363;
}

header {
	background: #fff;
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	left: 0;
    box-shadow: 0px 1px 10px #888888;
	z-index: 100;
}

nav {
	height: 100%;
	float:right;
	margin-right: 12.5%;

}

nav ul {
	list-style: none;
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;	

}

nav ul li {
	display: inline-block;
	float: left;
	height: 100%;
	-webkit-transition:background-color .3s; /* For Safari 3.1 to 6.0 */
    transition: background-color .3s;

}

nav ul li a{
	font-size: 1.1em;
	line-height: 5em;
	padding: 0 20px 0 20px;
	width: 100%; height: 100%;
	max-width: 100px;
	color: #ff3939;	
	-webkit-transition:color .4s; /* For Safari 3.1 to 6.0 */
    transition: color .4s;

}

nav ul li:hover{
	background-color: #ff3939;
	cursor: pointer;
	cursor: hand;

}
nav ul li:hover a{
	color: white;
}



h2 {
	font-size: 2em;
	color: #c50000;
	line-height: 1.15em;
	margin-bottom: 2%;
}

h3
{	
	font-size: 1.3em;
	margin-bottom: 5px;
	margin-top: 0;

}

p {
	margin-top: 0;
	display: block;
	line-height: 1.45em;
	margin-bottom: 10px;

}

.form-label{
	font-size:1.3em;
}
.form{
	max-width: 50%;
	margin:auto;
}

.form h3{
	margin-bottom: 2%;
	text-align: center;
}
.form input[type=text], form input[type=email], form input[type=tel]{
	width: 100%;
	margin-top:2%;
	margin-bottom: 3%;
	font-size: 1.2em; 
	outline: 0;
	border:none;
	border-bottom:solid 2px #dcdcdc;;
    transition: border-bottom 0.3s

}

.form input[type=text]:hover, form input[type=email]:hover, form input[type=tel]:hover{
  border-bottom: 2px solid #ff6363;
}
.form input[type=text]:focus, form input[type=email]:focus, form input[type=tel]:focus{
	outline: 0;
	border-bottom: 2px dashed #ff6363;
}




.form input[type=submit]{
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #ff3939;
	border: none;
	color: white;
	font-size: 1em;
	padding: 10px 20px;
    text-align: center;
	-webkit-transition:color .3s; /* For Safari 3.1 to 6.0 */
     transition: color .3s;
    -webkit-transition:background-color .3s; /* For Safari 3.1 to 6.0 */
    transition: background-color .3s;
    -webkit-transition:border .3s; /* For Safari 3.1 to 6.0 */
    	transition: border .3s;
    border-radius: 6px 6px 6px 6px;
}

.form input[type=submit]:hover{
	color: #ff6363;
	background-color: #fff;
	cursor: pointer;
	cursor: hand;
	border:1px solid #ff6363;
}
.centre{
	text-align: center;
}

.action-link{
	margin-top: 2%;
}

.motto{
	padding-left: 10px;
    margin-top: 75px;
    line-height: 0;
    display: inline-block
}

.banner{
	margin-bottom:5%;
	width: 100%; 
	height: 100%;
	margin-top: 135px;
}
.banner img{
	width: 30%;
	margin:0 auto 0 auto;
	display: block;
	margin-bottom: 3%;
}

.banner h1{
	text-transform: uppercase;	
	color: #2F2F2F;
	font-size: 2.8em;
	text-align: center;
	margin-bottom:3%;
}

.banner p{
	color:#4D4949;
	width: 85%;
	margin:auto;
	font-size: 1.4em;
		text-align: center;

}

.logo{
	margin-top:5px;
	margin-left:13.5%;
	float: left;
	width: 100px;
	display: block;
}


.content {
	width: 65%; height: 100%; 
	margin:auto;
	padding-right: 5%;
    padding-left: 5%;
    background-color:#fff;
    box-shadow: 0px 0px 5px #888888;

}

.section-description{
	margin-bottom:4%;
}
.content section { 
	margin-bottom:15%;
	width: 100%; 
	height: 100%;
	padding-top: 10px; }

.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 3%;

}

.border{
		border-bottom: 2px solid #c50000; 

}


.flex-item {
	max-width: auto;
	margin-right: 2%;
	width: 100%;
	border: .1em solid  #c50000;
	padding: 20px;
	border-radius: 25px;
    box-sizing: border-box;  
}

.flex-item p, .flex-item h3{
	text-align: center;
}


.contact h3{
	margin-bottom: 2%;
}
.contact{
		border: none;
}
.contact ul{
	padding-left: 0;
	list-style: none;
	margin: 0 0 0 15%

}

.contact ul li{
	line-height: 1.85em;
}

.contact ul li img{
	margin-right: 2%;
	vertical-align: sub;
}

.ribbon {
 font-size: 20px !important;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

 width: 80%;
    
 position: relative;
 background: #E5DB5B;
 color: #fff;
 text-align: center;
 padding: 1em 2em; /* Adjust to suit */
 margin: 1em auto 2em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #D8AE3D;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #7D5A20 transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}
/*MEDIA QUERY*/
@media only screen and (max-width : 1000px) {

	.flex-container {
		flex-direction: column;
			margin-bottom: 0%;

	}
	.flex-item{
			margin-bottom: 3%;

	}

	nav ul{
		display: none;
	}
	
}
}