/* Typography */


/*MAIN*/

*{font-family: 'Raleway', sans-serif;}

body { 
	font-size: 1.2em;
	line-height: 1.5em;
	background: #f9f9f9;
	color: #555;
}

a {
	color: #ff3939;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #ff6363;
}

header {
	background: #fff;
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 2px solid #c50000;
	z-index: 100;
}


nav {
	height: 100%;
	float:right;
	margin-right: 20px;

}

nav ul {
	list-style: none;
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;	

}

nav ul li {
	display: inline-block;
	float: left;
	font-size: 1.3em;	
	height: 100%;

}

nav ul li a{
	line-height: 4em;
	padding: 0 20px 0 20px;
	width: 100%; height: 100%;
	max-width: 100px;
	color: #ff3939;	

}

nav ul li:hover{
	background-color: #ff3939;
	cursor: pointer;
	cursor: hand;

}
nav ul li:hover a{
	color: white;
}



h2 {
	font-size: 2em;
	color: #c50000;
	line-height: 1.15em;
	margin-bottom: 2%;
}

h3
{	
	font-size: 1.3em;
	margin-bottom: 5px;
	margin-top: 0;

}

p {
	margin-top: 0;
	display: block;
	line-height: 1.45em;
	margin-bottom: 10px;

}

.centre{
	text-align: center;
}

.action-link{
	margin-top: 2%;
}

.content {
	width: 88%; height: 100%; 
	margin:auto;
}

.section-description{
	margin-bottom:3%;
}
.content section { 
	margin-bottom:15%;
	width: 100%; 
	height: 100%;
	padding-top: 10px; }

.menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: #4C8FEC url(../assets/nav-icon.png) center;
}
.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 3%;

}


.flex-item {
	max-width: auto;
	margin-right: 2%;
	width: 100%;
	border: .1em solid  #c50000;
	padding: 20px;
	border-radius: 25px;
    box-sizing: border-box;  
}

.flex-item p, .flex-item h3{
	text-align: center;
}

.banner{
	margin-top: 100px;
}
.banner img{
	width: 40%;
	margin:0 auto 0 auto;
	display: block;
	margin-bottom: 3%;
}

.banner h1{
	font-size: 2.5em;
	line-height: 1.25em;
	text-align: center;
	margin-bottom:2%;
}

.banner p{
	width: 90%;
	margin:auto;
	font-size: 1.5em;
}

.logo{
	margin-top:5px;
	margin-left:25px;
	float: left;
	width: 100px;
	display: block;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 1000px) {

	.flex-container {
		flex-direction: column;
			margin-bottom: 0%;

	}
	.flex-item{
			margin-bottom: 3%;

	}

	nav ul{
		display: none;
	}
	
}
}